<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>게시판</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>

        .board-row {
            font-size: 14px;
        }

        .board-nickname,
        .board-title {
           text-align: left;
        }

        .board-title a,
        .subcategory a {
            color: black;
            text-decoration: none;
        }

        .board-title a:hover,
        .subcategory a:hover {
            text-decoration: underline; /* 호버 시 밑줄 */
        }

        body {
            overflow-x: hidden; /* 가로 스크롤 방지 */
        }

    </style>

</head>
<body>
<!-- 공통 헤더 -->
<div th:replace="~{common/header :: header}"></div>

<div class="container-fluid mt-5 px-0">

    <div class="row">

        <!-- 공통 사이드바 -->
        <div class="col-md-2">
            <div class="sidebar">
                <div th:replace="~{common/sidebar :: sidebar}"></div>
            </div>
        </div>

        <div class="col-md-10">
            <!-- 게시판 제목 -->
            <h4 class="board-mainCategoryName mb-2"
                th:text="${subCategory.mainCateName + ' - ' + subCategory.subCateName} "></h4>
            <!-- 게시판 부가 설명 -->
            <p class="board-description" style="font-size: 15px; color: #888;" th:text="${subCategory.description}"></p>
            <p class="board-description" style="font-size: 13px;"> 새글 <span
                    th:text="${todayBoardCount} + ' / ' + ${totalBoardCount}"></span></p>

            <table class="table text-center board-table me-5">

                <thead>
                <tr style="font-size: 15px;">
                    <th style="width: 40px;"></th>
                    <th style="width: 120px;"></th>
                    <th style="width: 1000px;">제목</th>
                    <th style="width: 150px; text-align: left;">작성자</th>
                    <th style="width: 120px;">작성일</th>
                    <th style="width: 150px;">조회</th>
                </tr>
                </thead>

                <tbody>

                <tr th:if="${boards.size() == 0}">
                    <td colspan="5" style="text-align: center;">게시글이 없습니다.</td>
                </tr>

                <tr class="board-row" th:each="board : ${boards}">
                    <td class="board-CategoryBoardNo" th:text="${board.categoryBoardNo}"></td>
                    <td class="board-tag" th:text="${board.tagName}"></td>
                    <td class="board-title">
                        <a th:href="@{/board/detail/{boardNo}(boardNo=${board.boardNo})}" th:text="${board.title}"></a>
                        <a th:if="${board.commentCount > 0}"
                           style="font-size: 11px; color: red; font-weight: bold;"
                           th:text="${board.commentCount}">
                        </a>
                    </td>
                    <td class="board-nickname" th:text="${board.nickname}"></td>
                    <td th:text="${board.createDate.toLocalDate().isEqual(T(java.time.LocalDate).now())
                            ? #temporals.format(board.createDate, 'HH:mm')
                            : #temporals.format(board.createDate, 'yyyy.MM.dd')}"></td>
                    <td th:text="${board.viewCount}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 글쓰기 버튼 -->
            <div class="d-flex justify-content-end mt-3 me-4">
                <a th:if="${user != null}"
                   th:href="@{/board/addBoardForm(mainCategory=${mainCategory}, subCategory=${subCategory.name()})}"
                   class="btn btn-outline-dark btn-sm">글쓰기</a>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>