<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <style>

    /* 결과 메세지 글자 크기 */
        .small-text {
            font-size: 0.875rem;
        }

    </style>

</head>

<body>
<!-- 회원가입 -->
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-4">
        <h2 class="text-center mb-2">회원 가입</h2>

        <!-- 구분선 추가 -->
        <div class="d-flex justify-content-center">
            <hr style="width: 100%; border: 1px solid #ccc;">
        </div>

        <form id="addUserForm" th:action="@{/user/addUser}" method="post" onsubmit="return prepareEmail() && validateFormBeforeSubmit()">

            <div class="mb-3">
                <div class="input-group">
                    <label for="loginId"></label>
                    <input type="text"
                           id="loginId"
                           name="loginId"
                           class="form-control"
                           required maxlength="20"
                           placeholder="아이디를 입력하세요">
                    <button type="button" class="btn btn-outline-dark" onclick="checkLoginId()">중복 확인</button>
                </div>
                <div id="loginIdCheckResult" class="mt-2"></div> <!-- 아이디 중복 확인 내용 출력 -->
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" class="form-control" required
                           maxlength="100" placeholder="비밀번호를 입력하세요">

                    <label for="passwordConfirm"></label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" required
                           maxlength="100" placeholder="비밀번호 확인">
                </div>
                <div id="passwordCheckResult" class="mt-2"></div> <!-- 비밀번호 일치 여부 내용 출력 -->
            </div>

            <div class="row mb-3">
                <div class="col-md-8">
                    <input type="text" id="name" name="name" class="form-control" required maxlength="50"
                           placeholder="이름">
                </div>

                <div class="col-md-4 d-flex align-items-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="gender_male" name="gender" value="M" required>
                        <label class="form-check-label" for="gender_male">남</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="gender_female" name="gender" value="F"
                               required>
                        <label class="form-check-label" for="gender_female">여</label>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="text" id="nickname" name="nickname" class="form-control" required maxlength="20"
                           placeholder="닉네임을 입력하세요">
                    <button type="button" class="btn btn-outline-dark" onclick="checkNickname()">중복 확인</button>
                </div>
                <div id="nicknameCheckResult" class="mt-2"></div> <!-- 닉네임 중복 확인 결과 출력 -->
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="tel" id="phone" name="phone" class="form-control" required maxlength="20"
                           placeholder="전화번호를 입력하세요. (01012345678)">
                    <button type="button" class="btn btn-outline-dark" onclick="sendSmsAuthCode()">발송</button>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <!-- 인증 번호 입력 필드 -->
                    <input type="text" id="authCode" name="authCode" class="form-control col-6" required maxlength="6"
                           placeholder="인증 번호 (6자리 숫자)">
                    <!-- 만료 시간 표시 영역 -->
                    <span id="timerDisplay" class="input-group-text text-danger col-3 text-center"></span>
                    <button type="button" class="btn btn-outline-dark" onclick="checkAuthCode()">인증</button>
                </div>
                <!-- 결과 메시지 출력 -->
                <div id="phoneVerificationResult" class="text-danger mt-2"></div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="text" id="postcode" name="postcode" class="form-control" readonly
                           placeholder="우편번호">
                    <input type="button" class="btn btn-outline-dark" onclick="daumPostcode()" value="주소 찾기">
                </div>
            </div>

            <div class="mb-3">
                <input type="text" id="address" name="address" class="form-control" readonly placeholder="주소" maxlength="100">
            </div>

            <div class="mb-3">
                <input type="text" id="addressDetail" name="addressDetail" class="form-control"
                       placeholder="상세주소를 입력해 주세요" maxlength="100">
            </div>

            <div class="mb-3">
                <input type="text" id="addressExtra" name="addressExtra" class="form-control" readonly
                       placeholder="비고">
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <!-- 이메일 입력 -->
                    <input type="text" id="emailId" name="emailId" class="form-control" required placeholder="이메일">

                    <!-- @ 기호 -->
                    <span class="input-group-text">@</span>

                    <!-- 도메인 입력 -->
                    <input type="text" id="emailDomain" name="emailDomain" class="form-control" required list="domains"
                           placeholder="도메인">
                    <datalist id="domains">
                        <option value="gmail.com">
                        <option value="naver.com">
                        <option value="hanmail.net">
                        <option value="daum.net">
                    </datalist>
                    <!-- 발송하기 버튼 -->
                    <button type="button" class="btn btn-outline-dark" onclick="sendEmail()">발송</button>
                </div>
                <div id="emailCheckResult" class="mt-2"></div> <!-- 이메일 유효성 결과 출력 -->
            </div>
            <!--합친 이메일을 전송할 hidden input -->
            <input type="hidden" id="email" name="email">

            <!-- 구분선 추가 -->
            <div class="d-flex justify-content-center">
                <hr style="width: 100%; border: 1px solid #ccc;">
            </div>

            <!-- 회원가입 버튼 -->
            <div class="d-flex justify-content-center">
                <a th:href="@{/}" class="btn btn-outline-dark w-100 me-3">뒤로</a>
                <button type="submit" class="btn btn-dark w-100">회원 가입</button>
            </div>
        </form>
    </div>
</div>

<script>

    // 회원 가입에 필요한 개별 자바스크립트 함수 시작

    // 메시지 출력 로직 통합 함수
    function setResultMessage(element, message, isSuccess) {
        if (message) {
            element.textContent = message;
            element.classList.remove("text-danger", "text-success", "small-text");
            element.classList.add(isSuccess ? "text-success" : "text-danger", "small-text");
        } else {
            clearResultMessage(element);
        }
    }

    function clearResultMessage(element) {
        element.textContent = "";
        element.classList.remove("text-danger", "text-success", "small-text");
    }

    // loginId를 확인하기 위한 함수
    function checkLoginId() {
      const loginId = document.getElementById('loginId').value;
      const resultLoginId = document.getElementById('loginIdCheckResult');

    // loginId 입력 여부
    if(!loginId) {
      setResultMessage(resultLoginId,"");
      alert("아이디를 입력하세요.");
      return;
    }

    // 정규식 검사 (맨 앞자리는 영어 소문자, 그 뒤는 소문자와 숫자만 허용)
    const regex = /^[a-z][a-z0-9]*$/;
    if (!regex.test(loginId)) {
        setResultMessage(resultLoginId, "아이디는 영어 소문자로 시작하고, 숫자만 포함할 수 있습니다.", false);
        return;
    }

    // loginId 길이 유효성 검사
    if (loginId.length < 5 || loginId.length > 20) {
      setResultMessage(resultLoginId,"아이디는 5자 이상 20자 이하여야 합니다.",false);
      return;
    }

    // 서버에 아이디 중복 확인 요청
    fetch('/api/user/checkLoginId', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json'
      },
      body: JSON.stringify({loginId: loginId})
    })
      .then(response => response.json())
      .then(data => {
        if(data.isAvailableLoginId) {
          setResultMessage(resultLoginId,"사용 가능한 아이디입니다.",true);
        } else {
          setResultMessage(resultLoginId,"이미 사용 중인 아이디입니다.",false);
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert("잠시 후 다시 시도해 주세요.");
      });
    }

    // password를 확인하기 위한 함수
    // 비밀번호 확인 이벤트 연결
    document.getElementById('password').addEventListener('input', checkPassword);
    document.getElementById('passwordConfirm').addEventListener('input', checkPassword);

    function checkPassword() {
      const password = document.getElementById('password').value;
      const passwordConfirm = document.getElementById('passwordConfirm').value;
      const resultPassword = document.getElementById('passwordCheckResult');


      // 비밀번호 길이 유효성 검사
      if (password.length < 8 || password.length > 20) {
        setResultMessage(resultPassword, "비밀번호는 8자 이상 20자 이하여야 합니다.", false);
        return;
      }

      // 정규식 검사
      const regex = /^[a-z][a-z0-9]{4,19}$/;
      if(!regex.test(password)){
        setResultMessage(resultPassword, "비밀번호는 영문자와 특수문자를 반드시 포함해야 합니다.", false);
        return;
      }

      // 비밀번호 일치 여부 확인
      if(password === passwordConfirm) {
        setResultMessage(resultPassword, "비밀번호가 일치합니다.", true);
      } else {
        setResultMessage(resultPassword, "비밀번호가 일치하지 않습니다.", false);
      }
    }

    // nickname을 확인하기 위한 함수
    function checkNickname() {
      const nickname = document.getElementById('nickname').value;
      const resultNickname = document.getElementById('nicknameCheckResult');

      // 닉네임 입력 여부
      if(!nickname) {
        setResultMessage(resultNickname, "", false);
        alert("별명을 입력하세요.");
        return;
      }

      // 닉네임 길이 유효성 검사
      if(nickname.length < 2 || nickname.length > 15) {
        setResultMessage(resultNickname, "별명은 2자 이상 15자 이하여야 합니다.", false);
        return;
      }

      //서버에 닉네임 중복 확인 요청
      fetch('/api/user/checkNickname', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({nickname: nickname})
      })
        .then(response => response.json())
        .then(data => {
        if(data.isAvailableNickname){
          setResultMessage(resultNickname, "사용 가능한 닉네임입니다.", true);
        } else {
          setResultMessage(resultNickname, "이미 사용 중인 닉네임입니다.", false);
        }
      })
      .catch(error => {
        console.error('Error:',error);
        alert("잠시 후 다시 시도해 주세요.");
        });
      }

    // 이메일 유효성 검사, 발송 함수 시작
      document.getElementById('emailId').addEventListener('input', checkEmail);
      document.getElementById('emailDomain').addEventListener('input', checkEmail);

    // 이메일 유효성 검사 함수
    function checkEmail() {
      const emailId = document.getElementById('emailId').value.trim();
      const emailDomain = document.getElementById('emailDomain').value.trim();
      const emailCheckResult = document.getElementById('emailCheckResult');

      // 이메일 입력 여부 확인
      if (!emailId || !emailDomain) {
        setResultMessage(emailCheckResult, "이메일과 도메인을 모두 입력하세요.", false);
        return;
      }

      // 도메인 유효성 검사
      const validDomains = ["gmail.com", "naver.com", "hanmail.net", "daum.net"];
      if (!validDomains.includes(emailDomain)) {
        setResultMessage(emailCheckResult, "유효하지 않은 도메인입니다.", false);
        return;
      }

      // 이메일 합치고 서버에 보내 중복 검사
      const fullEmail = `${emailId}@${emailDomain}`;

      fetch('/api/user/checkEmail', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email: fullEmail })
        })
        .then(response => response.json())
        .then(data => {
          if (data.isAvailableEmail) {
            setResultMessage(emailCheckResult, "사용 가능한 이메일입니다.", true);
          } else {
            setResultMessage(emailCheckResult, "이미 가입된 이메일입니다.", false);
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert("잠시 후 다시 시도해 주세요.");
        });

      return true; // 유효성 검사 통과
    }

    // 이메일 발송 함수
    function sendEmail() {
      const emailId = document.getElementById('emailId').value.trim();
      const emailDomain = document.getElementById('emailDomain').value.trim();
      const emailCheckResult = document.getElementById('emailCheckResult');

      // 위의 이메일 유효성 검사 통과했는지 확인
      if (!checkEmail()) {
        setResultMessage(emailCheckResult, "이메일 유효성 검사에 실패했습니다.", false);
        return;
      }

      const fullEmail = `${emailId}@${emailDomain}`;

      // 이메일 발송 API 호출
      fetch('/api/email/sendEmailWithToken', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ to: fullEmail })
      })
      .then(response => {
        if (response.ok) {
          alert("인증 이메일이 발송되었습니다.");
        } else {
          alert("이메일 발송이 실패했습니다.");
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert("잠시 후 다시 시도해주세요.");
      });
    }

    // 이메일을 합쳐서 hidden input에 설정하는 함수
    function prepareEmail() {
        const emailId = document.getElementById('emailId').value.trim();
        const emailDomain = document.getElementById('emailDomain').value.trim();

        // 이메일 입력 여부 확인
        if (!emailId || !emailDomain) {
            alert("이메일을 정확히 입력해 주세요.");
            return false;
        }

        // 이메일 합치기
        const fullEmail = `${emailId}@${emailDomain}`;

        // hidden input에 합친 이메일 값을 설정
        document.getElementById('email').value = fullEmail;

        return true;
    }


    // 인증 번호를 포함한 메시지 발송 함수
    function sendSmsAuthCode() {
        const toInput = document.getElementById('phone').value.trim();
        const phoneVerificationResult = document.getElementById('phoneVerificationResult');
        const timerDisplay = document.getElementById('timerDisplay'); // 타이머 표시 영역

        // 핸드폰 번호 입력 여부
        if(!toInput) {
            setResultMessage(phoneVerificationResult, "");
            alert("인증 번호를 입력하세요.");
            return;
        }

        // 숫자만 추출하여 phoneNumber에 저장
        const phoneNumber = toInput.replace(/[^0-9]/g, "");
        // 유효성 검사
        if (phoneNumber.length < 10 || phoneNumber.length > 11) {
            setResultMessage(phoneVerificationResult, "유효한 전화번호 형식이 아닙니다.(예: 01012345678)", false);
            return;
        }
        // 서버에 요청 보내기
        fetch("/api/sms/sendSmsWithAuthCode", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                to: toInput
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log("서버 응답:", data); // 서버 응답 확인
            const remainingTime = Math.floor(data.expirationTime / 1000); // 밀리초 → 초 변환
            startTimer(timerDisplay, remainingTime); // 타이머 시작
            setResultMessage(phoneVerificationResult, "인증 번호가 전송되었습니다!", true);
        })
        .catch(error => {
            console.error("Error:", error);
            setResultMessage(phoneVerificationResult, "인증 번호 전송에 실패했습니다.", false);
        });
    }

    let timerInterval; // 타이머 interval 전역 변수 선언

    // 타이머 시작 함수
    function startTimer(timerDisplay, remainingTime) {

        // 기존 타이머가 있으면 멈춤
        if (timerInterval) {
            clearInterval(timerInterval);
            timerInterval = null;
        }

        // 타이머 초기화
        remainingTime = Math.floor(remainingTime);
        timerInterval = setInterval(() => {
            if (remainingTime <= 0) {
                clearInterval(interval);
                timerDisplay.innerText = "시간 초과";
                return;
            }

        // 타이머가 '인증 완료' 상태인지 확인
        if (timerDisplay.innerText === "인증 완료") {
            clearInterval(timerInterval);
            timerInterval = null; // 타이머 중지 및 초기화
            return;
        }

        // 남은 시간 계산
        const minutes = ('0' + Math.floor(remainingTime / 60)).slice(-2);
        const seconds = ('0' + (remainingTime % 60)).slice(-2);

        timerDisplay.innerText = `${minutes} : ${seconds}`;
        remainingTime--;
        }, 1000);
    }

    // 인증 번호 일치 확인 함수
    function checkAuthCode() {
        const toInput = document.getElementById("phone").value.trim();
        const authCodeInput = document.getElementById("authCode").value;
        const phoneVerificationResult = document.getElementById("phoneVerificationResult");

        if (!authCodeInput) {
            setResultMessage(phoneVerificationResult, "");
            alert("핸드폰 번호를 입력하세요.");
            return;
        }
        fetch(`/api/sms/verifyAuthCode?to=${toInput}&authCode=${authCodeInput}`, {
            method: "POST"
        })
        .then(response => {
            if (response.ok) return response.text();
            else throw new Error("인증에 실패했습니다.");
        })
        .then(data => {
            setResultMessage(phoneVerificationResult, data, true);
            // 인증 성공 시 타이머 멈춤
            clearInterval(timerInterval);
            const timerDisplay = document.getElementById('timerDisplay');
            timerDisplay.innerText = "인증 완료"; // 시간 대신 '인증 완료' 표시
        })
        .catch(error => {
            console.error("Error:", error);
            setResultMessage(phoneVerificationResult, error.message, false);
        });
    }

    // 회원 가입에 필요한 개별 자바스크립트 함수 종료

    // 회원 가입 전, 모든 필드가 유효한지 최종 확인 함수 시작
    function validateFormBeforeSubmit() {
        // name 입력 값 가져오기
        const name = document.getElementById('name').value.trim();

        // 결과를 저장하는 요소들 활용
        const resultLoginId = document.getElementById('loginIdCheckResult').classList.contains('text-success');
        const resultPassword = document.getElementById('passwordCheckResult').classList.contains('text-success');
        const resultNickname = document.getElementById('nicknameCheckResult').classList.contains('text-success');
        const resultPhone = document.getElementById('phoneVerificationResult').classList.contains('text-success');
        const resultEmail = document.getElementById('emailCheckResult').classList.contains('text-success');

        // name 입력 여부 확인
        if (!name) {
            alert("이름을 입력해 주세요.");
            return false;
        }

        // 최종 검사 시작
        if (!resultLoginId) {
            alert("아이디 중복 확인을 해주세요.");
            return false;
        }
        if (!resultPassword) {
            alert("비밀번호를 확인해 주세요.");
            return false;
        }
        if (!resultNickname) {
            alert("닉네임 중복 확인을 해주세요.");
            return false;
        }
        if (!resultPhone) {
            alert("전화번호 인증을 완료해 주세요.");
            return false;
        }
        if (!resultEmail) {
            alert("이메일 중복 확인을 해주세요.");
            return false;
        }

        // 모든 검사 통과
        return true;
    }

</script>

<!-- 다음 주소 검색 API 스크립트 -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //Daum Postcode Service API
    function daumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = roadAddr;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                document.getElementById("addressExtra").value = extraRoadAddr || '';

                document.getElementById("addressDetail").focus();
            }
        }).open();
    }
</script>


</body>
</html>
